/**
 *
 * Common styles
 *
 * @author !put your name here!
 *
 */

/* ===========================================
   General
   =========================================== */

/* html, body and general element styles here */
/* ... */
html{
   background-color:#dfdfdf  ;
   font-family: 'Roboto', 'sans-serif';
}
body{
   
   background-color: white;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   margin-top: 0;
}

/* ===========================================
   Menu
   =========================================== */

/* menu styles here */
/* ... */

header li {
   color: black;
   display: inline-block;
   font-size: 16px;
   padding: 5px 10px;
   margin: 4px 2px;
   text-align: center;
}
header li:hover{
   background-color: #b52025;
   color: white;
   transition: 0.3s ;
   
}
header li a{
   color: black;
   text-decoration: none;
}
header a:hover{
   color: white;
}

header .active{
   background-color: #b52025;
   transition: 0.3s ;
}

/* ===========================================
   Banner
   =========================================== */

/* banner styles here */
/* ... */
#banner{
   background-image: url(../img/slider_photo2.jpg);
   border: solid 5px #b52025;
   box-shadow: 3px 5px 5px;
}

#banner p{
   background: rgba(0, 0, 0, 0.671);
   color: white;

   
}
/* ===========================================
   Main
   =========================================== */

/* main styles here */
/* ... */
main{
   border-bottom-style: dotted;
   border-color: #dfdfdf;
}
main h3{
   color: #b52025;
   text-transform: uppercase;
}

main h3::after{
   content: "→";
}
p{
   text-align: justify;
}

.more{
   border: 1px solid #b52025;
   border-radius: 5px;
   color: #b52025;
   font-size: 16px;
   margin-left: 540px;
   padding: 2px;
   text-align: center;
}
.more::after {
   content: "≫";
  }

.more:hover{
   background-color: #b52025;
   color: white;
}
.more a{
   color: #b52025;
   text-decoration: none;
   
}
.more a:hover{
   text-decoration: none;
   color: white;
}
.minibanner{
   border: 1.5px solid #dfdfdf;
}

#email {
   background-color: #fdeaeb;
}

form input[type="submit"]{
   background-color: #b52025;
   color: white;
}

/* ===========================================
   Footer
   =========================================== */

/* footer styles here */
/* ... */

footer{
   background-color: #dfdfdf;
}
footer p{
   text-align: center;  
}